<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Melowave"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.editor.SecondActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.projects.ProjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.sounds.SoundLibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.arrangement.ArrangementActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.main.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
